{% extends "layout.html" %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Contact Me</h1>
        <p class="text-center">I'd love to hear from you! Feel free to reach out to me via the form below, or contact me directly through my business email or phone number.</p>
        
        <hr>
        <!-- Contact Information -->
        <div class="row mt-5">
            <div>
                <h3>Contact Information</h3>
                <p><strong>Email:</strong> <a href="mailto:andre.graham@georgebrown.ca">andre.graham@georgebrown.ca</a></p>
                <p><strong>Phone:</strong> +1 (416) 262-0531</p>
            </div>
                <p>I am always open to discussing new projects, creative ideas, or opportunities to be part of your vision. Don't hesitate to get in touch!</p>
        </div>
    </div>
{% endblock %}
